<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.png">
    <title>service-agent</title>
    <script src="/assets/plugins/js-localization/localization.js"></script>
    <script id="locale-message"></script>
    <link href="/assets/1.0/css/chunk-2b8b51fa.8422ddfd.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-3825c67e.9df59c21.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-3e07d418.ce87627f.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-64141378.12fb5db4.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-77488068.8c140d89.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-7f3a690c.49fc13e5.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-8160f0a2.cda4bf49.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-87ce0a90.2dd41265.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-9a96cc32.9b0d2874.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-a0ec10da.09096701.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-bb33d11c.d3d060ee.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-cf9141ea.6dac1d69.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-dadff81a.02887dca.css" rel="prefetch">
    <link href="/assets/1.0/css/chunk-e4bab58c.dd23e419.css" rel="prefetch">
    <link href="/chunk-2b8b51fa.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-2d0a3587.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-2d0ab185.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-2d0cbae0.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-2d0d2f84.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-2d209363.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-2d221b5f.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-2d221f36.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-2d22233d.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-3825c67e.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-3e07d418.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-57bebc31.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-64141378.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-77488068.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-7f3a690c.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-8160f0a2.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-87ce0a90.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-9a96cc32.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-a0ec10da.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-bb33d11c.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-cf9141ea.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-dadff81a.1679801221851.efd05974.js" rel="prefetch">
    <link href="/chunk-e4bab58c.1679801221851.efd05974.js" rel="prefetch">
    <link href="/app.1679801221851.efd05974.js" rel="preload" as="script">
    <link href="/assets/1.0/css/app.d03a13bd.css" rel="preload" as="style">
    <link href="/assets/1.0/css/chunk-vendors.df6e9125.css" rel="preload" as="style">
    <link href="/chunk-vendors.1679801221851.efd05974.js" rel="preload" as="script">
    <link href="/assets/1.0/css/chunk-vendors.df6e9125.css" rel="stylesheet">
    <link href="/assets/1.0/css/app.d03a13bd.css" rel="stylesheet">
</head>

<body class="nk-body bg-lighter npc-general has-sidebar"><noscript><strong>We're sorry but service-agent doesn't work
            properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id="app"></div>
    <script src="/chunk-vendors.1679801221851.efd05974.js"></script>
    <script src="/app.1679801221851.efd05974.js"></script>
</body>

</html>